<div class="center-div">
    <div class="logo-img-container">
        <!-- <img class="queen-logo-img" src="./assets/images/queen_logo_transparent.png" alt=""> -->
    </div>
    <div class="queen_text">
        The Beatles è stato un gruppo musicale britannico,[8] fondato a Liverpool nel 1960 e attivo fino al 1970. Il
        gruppo era composto da John Lennon (1940-1980), Paul McCartney (1942), George Harrison (1943-2001) e Ringo Starr
        (1940), quest'ultimo a partire dal 1962, chiamato a sostituire Pete Best (1941); della prima formazione faceva
        parte anche Stuart Sutcliffe (1940-1962).[9]

        Ritenuti un fenomeno di comunicazione di massa di proporzioni mondiali,[10] i Beatles hanno segnato un'epoca
        nella musica, nel costume, nella moda e nella pop art.[11] A distanza di vari decenni dal loro scioglimento
        ufficiale – e dopo la morte di due dei quattro componenti – i Beatles contano ancora un enorme seguito e
        numerosi sono i loro fan club esistenti in ogni parte del mondo.[12]

        Stando alle stime dichiarate hanno venduto a livello mondiale un totale di oltre un miliardo di copie[13] fra
        album, singoli e musicassette, risultando fra gli artisti di maggior impatto e successo e, negli Stati Uniti,
        quelli con il maggior numero di vendite.[14] Sono inoltre al primo posto della lista dei "100 migliori artisti"
        redatta dalla rivista Rolling Stone (The 100 Greatest Artists of All Time).[15]

        L'aura che circonda lo sviluppo del loro successo mediatico e che ha favorito la nascita della cosiddetta
        Beatlemania e lo straordinario esito artistico raggiunto come musicisti rock sono inoltre oggetto di studio di
        università, psicologi e addetti del settore.[16][17][18][19]

        Durante la loro carriera decennale sono stati ufficialmente gli autori di 186 composizioni incise come
        gruppo,[20] a cui vanno aggiunti venti brani a firma Lennon-McCartney ceduti ad altri artisti.[21]
    </div>
</div>