<div class="center-div">
    <div class="s1">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/john-deacon.jpg" alt="">
        </div>
        <div class="mus-info">
            John Winston Ono Lennon, nato John Winston Lennon (Liverpool, 9 ottobre 1940 – New York, 8 dicembre 1980), è
            stato un cantautore, polistrumentista, artista e attivista britannico.
            Firma

            Dal 1960 al 1970 fu compositore e cantante del gruppo musicale dei Beatles, nei quali in coppia con Paul
            McCartney, compose anche la maggior parte delle canzoni. Con McCartney formò una delle più importanti
            partnership musicali di successo della storia della musica del ventesimo secolo. È il cantautore di maggior
            successo nella storia delle classifiche inglesi seguito da McCartney. Nel 2002, in un sondaggio della BBC
            sulle 100 personalità britanniche più importanti di tutti i tempi, si è classificato ottavo.[6]

            Terminata l'esperienza con i Beatles, John Lennon fu anche musicista solista, autore di disegni e testi
            poetici, nonché attivista politico e paladino del pacifismo. Questo gli causò problemi con le autorità
            statunitensi (FBI), che per lungo tempo spiarono tutte le sue attività e quelle della moglie Yōko Ono,
            considerandolo un sovversivo e rifiutandogli più volte la Green Card.[7] Fu assassinato a colpi di
            rivoltella da un suo stesso fan, Mark David Chapman, la sera dell'8 dicembre 1980 a New York.

            Lennon si sposò due volte: dal primo matrimonio con Cynthia Powell ebbe il figlio Julian, mentre dal secondo
            matrimonio con l'artista giapponese Yoko Ono nacque il figlio Sean. Entrambi i figli hanno seguito la
            carriera artistica del padre. Dopo il matrimonio con Yoko, John cambiò legalmente il proprio nome in John
            Winston Ono Lennon.
        </div>
    </div>
    <div class="s2">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/paul_mccartney.jpg" alt="">
        </div>
        <div class="mus-info">
            Sir James Paul McCartney (Liverpool, 18 giugno 1942) è un cantautore, polistrumentista, compositore,
            musicista, produttore discografico e cinematografico, sceneggiatore, attore, pittore, poeta, scrittore e
            attivista britannico.
            Firma di Paul McCartney

            Ha raggiunto la fama internazionale come bassista nei Beatles insieme a John Lennon, George Harrison e Ringo
            Starr. Insieme a Lennon formò una delle coppie di compositori di maggior successo e influenza di tutti i
            tempi, scrivendo alcune delle canzoni più amate nella storia della musica contemporanea.[2] Dopo lo
            scioglimento dei Beatles, ha formato i Wings con la sua prima moglie, Linda Louise McCartney, il compositore
            Denny Laine e altri musicisti. In seguito ha lavorato da solista componendo anche colonne sonore, musica
            colta e musica sperimentale, pubblicando una grande quantità di singoli e prendendo parte attivamente a
            progetti di sostegno ad associazioni benefiche internazionali.

            Paul McCartney, padre della stilista britannica Stella McCartney, è anche noto per essere un sostenitore del
            vegetarismo, dei diritti degli animali e dell'educazione musicale nelle scuole; è anche un sostenitore delle
            campagne sulla cancellazione del debito del Terzo Mondo, contro le mine antiuomo e la caccia alla foca.

            Con un patrimonio di 1,2 miliardi di dollari nel 2018 è, secondo Forbes, il musicista più ricco del
            mondo.[3] La nota rivista Rolling Stone l'ha classificato 11º nella lista dei 100 migliori cantanti e 3º in
            quella dei migliori bassisti.
        </div>
    </div>
    <div class="s3">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/harrison.jpg" alt="">
        </div>
        <div class="mus-info">
            George Harrison[2] (Liverpool, 25 febbraio 1943[3] – Los Angeles, 29 novembre 2001[4]) è stato un
            cantautore, polistrumentista, compositore, attore, produttore cinematografico e discografico britannico.

            Dal 1960 al 1970 è stato il chitarrista solista e cantante dei Beatles; dopo lo scioglimento del gruppo (il
            cui ultimo atto coincise, nel gennaio 1970, con la seduta di studio della canzone scritta da Harrison I Me
            Mine) ha intrapreso la carriera individuale, sia come musicista sia come produttore musicale e
            cinematografico. Fu anche un fondatore e membro del gruppo dei Traveling Wilburys.

            Durante gli anni trascorsi con i Beatles realizzò venticinque canzoni. Tutti gli album del gruppo da With
            the Beatles contenevano generalmente due o più brani di sua composizione; molto celebri sono i suoi brani
            composti negli ultimi anni del gruppo; While My Guitar Gently Weeps, Something e Here Comes the Sun. Dopo lo
            scioglimento del gruppo realizzò il suo primo album solista, contenente molti brani che non erano stati
            pubblicati negli ultimi album dei Beatles, All Things Must Pass;[5] in aggiunta al lavoro solista collaborò
            anche con Ringo Starr, Eric Clapton,[6] Jeff Lynne[7] e Tom Petty.

            Harrison conobbe la cultura e la musica indiana nella seconda metà degli anni sessanta e ne divenne profondo
            estimatore; introdusse notevoli sonorità di origine indiana sia nei Beatles, sia nel lavoro solista. Assieme
            al musicista indiano Ravi Shankar organizzò, nell'agosto 1971, il celebre The Concert for Bangladesh, primo
            concerto benefico nella storia della musica, in cui parteciparono anche Starr, Clapton, Shankar e Bob Dylan;
            in tale occasione si stava per realizzare una reunion dei Fab Four, ma John Lennon declinò l'invito poiché
            non si voleva la partecipazione della moglie Yōko Ono, mentre Paul McCartney rifiutò a causa della presenza
            di Allen Klein fra gli organizzatori.[8]

            Ne "La classifica dei 100 chitarristi migliori di sempre", stilata dalla rivista Rolling Stone nel 2011,
            Harrison compare alla posizione numero 11, in salita dalla posizione numero 21 della lista stilata dalla
            stessa rivista nell'anno 2003.

            Il nome di Harrison figura inoltre per ben due volte nella Rock and Roll Hall of Fame, essendo stato citato
            nel 1988 per la sua partecipazione nei The Beatles e nel 2004 per la sua carriera solista.[9]
        </div>
    </div>
    <div class="s4">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/ringo.jpg" alt="">
        </div>
        <div class="mus-info">
            Sir Ringo Starr, pseudonimo di Richard Starkey (Liverpool, 7 luglio 1940), è un batterista, cantautore,
            compositore, attore e pittore britannico.

            Dal 1962 al 1970 è stato il batterista e talvolta cantante principale o corista dei Beatles, per i quali ha
            anche composto due canzoni (Don't Pass Me By e Octopus's Garden). Dopo lo scioglimento del gruppo ha
            intrapreso una carriera individuale sia come musicista sia come attore cinematografico. È anche un
            appassionato di pittura: dipinge e sovvenziona molti premi nazionali inglesi di pittura.

            Nel 2011 è stato classificato quattordicesimo nella lista dei migliori batteristi di tutti i tempi redatta
            dalla rivista Rolling Stone.[1] Nel 2015 è entrato nella Rock and Roll Hall of Fame.
        </div>
    </div>
</div>